.underline-animation
  position: absolute
  left: 0
  bottom: -2px
  height: 2px
  right: 100%
  border-radius: 4px
  transition: right .3s

.underline-animation-active
  right: 0

.underline-animation-target
  &:hover .underline-animation
    right: 0
