.underline-animation
  position: absolute
  left: 0
  bottom: -2px
  height: 2px
  right: 100%
  border-radius: 4px
  transition: right .3s

.underline-animation-active
  right: 0
  background-color: #6366f1!important

.underline-animation-target
  &:hover .underline-animation
    right: 0


.md-editor
  font-family: "Noto Sans SC", sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI Variable', 'Segoe UI', system-ui, ui-sans-serif, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji'!important

.markdown-body
  .md-editor-preview-wrapper
    padding: unset
  ul
    list-style: disc