@import "../fonts/fonts.css";
/* 定义滚动条滑块样式 */
*::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
    height: 8px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background: #e5d8d8; /* 滚动条轨道颜色 */
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(142, 150, 178, 0.68); /* 滚动条滑块颜色 */
    border-radius: 4px; /* 滚动条滑块圆角 */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(142, 150, 178, 1); /* 滚动条滑块悬停颜色 */
}

.ellipsis-of-three-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 这里设置显示的行数 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.alibbph {
    font-family: '阿里巴巴普惠体', '微软雅黑', Arial, sans-serif;
}
